<label> List</label>
<div *ngFor="let item of tasks"> 
  <input type="text"  [disabled]="item.isDisabled" [(ngModel)]="item.title"> 
    <textarea [disabled]="item.isDisabled" [(ngModel)]="item.text"></textarea>
    <button (click)="edit(item._id)" *ngIf="item.isDisabled">Edit</button>
    <button (click)="update(item._id,item)" *ngIf="!item.isDisabled">update</button>
  <button (click)="deleteTask(item._id)">Delete</button>
</div>
<br/>
<br/>
<br/>
<br/>
<div>
    <input type="text" [(ngModel)]="newTask">
    <button (click)="add(newTask)">add</button>
</div>